/* Typography */
$font300: 300;
$font400: 400;
$font500: 500;
$font700: 700;

$bg-primary: #12141d;

$green-primary: #00d26e;
$green-secondary: #07e179;

$gray: #585858;
$white: #fff;

$gray-ligth: #555;
$gray-dark: #444;
